<HEAD>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

</HEAD>

<body>

    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


<script src="https://accounts.google.com/gsi/client" async defer></script>
<div id="g_id_onload"
     data-client_id="1025960079531-q0s946ncoaefnp90eqip7r4c4ato5lkj.apps.googleusercontent.com"
     data-callback="onSignIn">
</div>

<script src="https://accounts.google.com/gsi/client" onload="console.log('TODO: add onload function')">
</script>

<div class="h-100 row align-items-center justify-content-center">
    <div class="row">
        <div class="col">

            <div class="card" style="width: 450px">
                <article class="card-body">
                    <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
                    <hr>
                    <p class="text-danger text-center">{failed_message}</p>
                    <form  action="">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input name="username" class="form-control" placeholder="Email or login" type="text" value="foobar">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input name="password" class="form-control" placeholder="******" type="password" value="foobar">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-secondary btn-block" onclick="location.href='/reset'">Reset password</button>
                        </div> <!-- form-group// -->
                        <p class="text-center"><a href="/reset" class="btn">Reset password</a></p>
                        <input  hidden name="client_id" value="{client_id}">
                        <input  hidden name="redirect_uri" value="{redirect_uri}">
                        <input  hidden name="scope" value="{scope}">
                        <input  hidden name="response_type" value="token">
                    </form>
                    <div class="g_id_signin text-center" data-type="standard"></div><br>
                    <script>
                      function onSignIn(response) {{
                            console.log(response);
                             redirect_url="/authorize?third_party=google&client_id={client_id}&redirect_uri={redirect_uri_encoded}&response_type=token&scope={scope}&response="+response.credential;
                             window.location.replace(redirect_url);
                            }}
                    </script>
                </article>
            </div> <!-- card.// -->

        </div>
    </div>
</div>



</body>

